@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
     padding: 25px;
    margin: 0;
    box-sizing: 0;
}

p{
    background-color: antiquewhite;
    padding: 20px;
}
h1{
    background-color: burlywood;
}


.titulo{
    font-family: "Fredoka", sans-serif;
    color: rgb(134, 84, 136);
}

.textocorpo{ 
    font-family: "Fredoka", sans-serif;
    color: rgb(133, 32, 70);
}